<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Conferences</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://bootswatch.com/5/united/bootstrap.css">
    <style>
        .logo{
            width:3vw;
        }
        main{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20vh;
        }
        main >h1{
            font-size: 6vw !important;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/logo.png" class="logo" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                </ul>
                <form class="d-flex" method="get" >
                    <input class="form-control me-sm-2" type="search" name="q" id="searchQ" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
    <main>
        <h1 class="info lead" >Conferences</h1>
    </main>
    <div class="d-flex justify-content-around">
        <div th:each="conf: ${confs}" class="d-inline-block card border-primary mb-3" style="max-width: 20rem;">
            <div th:text="${conf.getTitle()}" class="card-header"></div>
            <div class="card-body">
                <h4 th:text="${conf.getDate().toString()+' '+conf.getDuree_minutes()+'minutes'}" class="card-title"></h4>
                <p th:text="${conf.getDescription()}" class="card-text"></p>
            </div>
            <button th:if="${conf.getReservations().size() < conf.getSalle().getNombre_places()}" type="button" data-toggle="modal" data-target="#ModalCenter" th:onclick="'reserve(' + ${conf.getId()} + ')'" class="btn btn-primary w-100">Reserver</button>
            <button th:unless="${conf.getReservations().size() < conf.getSalle().getNombre_places()}" type="button"  class="btn btn-secondary w-100">nombre complète</button>
        </div>
    </div>
    <div class="modal" id="ModalCenter">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reserver Conferenece</h5>
                    <input type="hidden" id="id_conf">
                    <button type="button" onclick="closemodal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-footer">
                    <div class="input-group mb-3">
                        <input type="text" id="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" onclick="checkin()" type="button" id="button-addon2">Envoyer Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("ModalCenter")
        var idconf = document.getElementById("id_conf")
        var url = new URL(window.location.href);
        if(url.searchParams.get("q")!==null)
        {
            document.getElementsByTagName("main")[0].remove();
        }
        function reserve(id)
        {
            modal.style.display = "block";
            idconf.value =  id;
        }
        function closemodal()
        {
            modal.style.display = "none";
        }
        function checkin()
        {
            fetch("/api/v1/reserver",{
            method: 'POST',
                headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({"email": document.getElementById("email").value,"id":idconf.value}),
        });
            closemodal();
        }
    </script>
</body>
</html>
